@page "/genres/create"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Genre</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Genre" OnValidSubmit="AddGenre" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="genrename" class="form-label">GenreName:</label> 
                <InputText id="genrename" @bind-Value="Genre.GenreName" class="form-control" /> 
                <ValidationMessage For="() => Genre.GenreName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genredesc" class="form-label">GenreDesc:</label> 
                <InputText id="genredesc" @bind-Value="Genre.GenreDesc" class="form-control" /> 
                <ValidationMessage For="() => Genre.GenreDesc" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Genre.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Genre.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdate" class="form-label">DateUpdate:</label> 
                <InputDate id="dateupdate" @bind-Value="Genre.DateUpdate" class="form-control" /> 
                <ValidationMessage For="() => Genre.DateUpdate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/genres">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Genre Genre { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddGenre()
    {
        using var context = DbFactory.CreateDbContext();
        context.Genre.Add(Genre);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/genres");
    }
}
