@page "/subscriptiontiers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FSD_Project_Bookstore_Group4.Domain
@using FSD_Project_Bookstore_Group4.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="subscriptiontiers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.SubscriptionTier">
    <PropertyColumn Property="subscriptiontier => subscriptiontier.TierName" />
    <PropertyColumn Property="subscriptiontier => subscriptiontier.Cost" />
    <PropertyColumn Property="subscriptiontier => subscriptiontier.DateCreated" />
    <PropertyColumn Property="subscriptiontier => subscriptiontier.DateUpdate" />

    <TemplateColumn Context="subscriptiontier">
        <AuthorizeView Roles="Administrator">
            <a href="@($"subscriptiontiers/edit?id={subscriptiontier.Id}")">Edit</a> |
            <a href="@($"subscriptiontiers/details?id={subscriptiontier.Id}")">Details</a> |
            <a href="@($"subscriptiontiers/delete?id={subscriptiontier.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private FSD_Project_Bookstore_Group4Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
