@page "/SubscriptionInfos/edit"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>SubscriptionInfo</h2>
<hr />
@if (SubscriptionInfo is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="SubscriptionInfo" OnValidSubmit="UpdateSubscriptionInfo" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="SubscriptionInfo.Id" value="@SubscriptionInfo.Id" />
                <div class="mb-3">
                    <label for="datestart" class="form-label">DateStart:</label>
                    <InputDate id="datestart" @bind-Value="SubscriptionInfo.DateStart" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.DateStart" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateend" class="form-label">DateEnd:</label>
                    <InputDate id="dateend" @bind-Value="SubscriptionInfo.DateEnd" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.DateEnd" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <InputNumber id="customerid" @bind-Value="SubscriptionInfo.CustomerId" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.CustomerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="tierid" class="form-label">TierId:</label>
                    <InputNumber id="tierid" @bind-Value="SubscriptionInfo.TierId" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.TierId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="SubscriptionInfo.DateCreated" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdate" class="form-label">DateUpdate:</label>
                    <InputDate id="dateupdate" @bind-Value="SubscriptionInfo.DateUpdate" class="form-control" />
                    <ValidationMessage For="() => SubscriptionInfo.DateUpdate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/SubscriptionInfos">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private SubscriptionInfo? SubscriptionInfo { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        SubscriptionInfo ??= await context.SubscriptionInfo.FirstOrDefaultAsync(m => m.Id == Id);

        if (SubscriptionInfo is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateSubscriptionInfo()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(SubscriptionInfo!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!SubscriptionInfoExists(SubscriptionInfo!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/SubscriptionInfos");
    }

    private bool SubscriptionInfoExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.SubscriptionInfo.Any(e => e.Id == id);
    }
}
