@page "/genders"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using FSD_Project_Bookstore_Group4.Domain
@using FSD_Project_Bookstore_Group4.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory

@attribute [Authorize(Roles = "Administrator")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="genders/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Gender">
    <PropertyColumn Property="gender => gender.GenderName" />
    <PropertyColumn Property="gender => gender.DateCreated" />
    <PropertyColumn Property="gender => gender.DateUpdate" />

    <TemplateColumn Context="gender">
        <AuthorizeView Roles="Administrator">
            <a href="@($"genders/edit?id={gender.Id}")">Edit</a> |
            <a href="@($"genders/details?id={gender.Id}")">Details</a> |
            <a href="@($"genders/delete?id={gender.Id}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private FSD_Project_Bookstore_Group4Context context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
