@page "/authors/create"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Author</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Author" OnValidSubmit="AddAuthor" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="authorname" class="form-label">AuthorName:</label> 
                <InputText id="authorname" @bind-Value="Author.AuthorName" class="form-control" /> 
                <ValidationMessage For="() => Author.AuthorName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="aurthordob" class="form-label">AurthorDOB:</label> 
                <InputDate id="aurthordob" @bind-Value="Author.AurthorDOB" class="form-control" /> 
                <ValidationMessage For="() => Author.AurthorDOB" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="authorbio" class="form-label">AuthorBio:</label> 
                <InputText id="authorbio" @bind-Value="Author.AuthorBio" class="form-control" /> 
                <ValidationMessage For="() => Author.AuthorBio" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Author.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Author.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdate" class="form-label">DateUpdate:</label> 
                <InputDate id="dateupdate" @bind-Value="Author.DateUpdate" class="form-control" /> 
                <ValidationMessage For="() => Author.DateUpdate" class="text-danger" /> 
            </div>
            <div class="mb-3" hidden>
                <label for="createdby" class="form-label">CreatedBy:</label>
                <InputDate id="createdby" @bind-Value="Author.CreatedBy" class="form-control" />
                <ValidationMessage For="() => Author.CreatedBy" class="text-danger" />
            </div>
            <div class="mb-3" hidden>
                <label for="updatedby" class="form-label">UpdatedBy:</label>
                <InputDate id="updatedby" @bind-Value="Author.UpdatedBy" class="form-control" />
                <ValidationMessage For="() => Author.UpdatedBy" class="text-danger" />
            <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </EditForm>
    </div>
</div>

<div>
    <a href="/authors">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Author Author { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAuthor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Author.Add(Author);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/authors");
    }
}
