@page "/authors/edit"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Author</h2>
<hr />
@if (Author is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Author" OnValidSubmit="UpdateAuthor" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Author.Id" value="@Author.Id" />
                <div class="mb-3">
                    <label for="authorname" class="form-label">AuthorName:</label>
                    <InputText id="authorname" @bind-Value="Author.AuthorName" class="form-control" />
                    <ValidationMessage For="() => Author.AuthorName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="aurthordob" class="form-label">AurthorDOB:</label>
                    <InputDate id="aurthordob" @bind-Value="Author.AurthorDOB" class="form-control" />
                    <ValidationMessage For="() => Author.AurthorDOB" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="authorbio" class="form-label">AuthorBio:</label>
                    <InputText id="authorbio" @bind-Value="Author.AuthorBio" class="form-control" />
                    <ValidationMessage For="() => Author.AuthorBio" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="imglink" class="form-label">ImgLink:</label>
                    <InputText id="imglink" @bind-Value="Author.ImgLink" class="form-control" />
                    <ValidationMessage For="() => Author.ImgLink" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Author.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Author.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdate" class="form-label">DateUpdate:</label>
                    <InputDate id="dateupdate" @bind-Value="Author.DateUpdate" class="form-control" />
                    <ValidationMessage For="() => Author.DateUpdate" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/authors">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Author? Author { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Author ??= await context.Author.FirstOrDefaultAsync(m => m.Id == Id);

        if (Author is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateAuthor()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Author!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!AuthorExists(Author!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/authors");
    }

    private bool AuthorExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Author.Any(e => e.Id == id);
    }
}
