@implements IDisposable
@inject NavigationManager NavigationManager

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column scroll">


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Featured Home Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Search">
                <span class="bi bi-search" aria-hidden="true"></span> Search
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sales">
                <span class="bi bi-percent" aria-hidden="true"></span> Sales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SubscriptionPage">
                <span class="bi bi-currency-dollar" aria-hidden="true"></span> SubscriptionPage
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Checkout">
                <span class="bi bi-cart-fill" aria-hidden="true"></span> Checkout
            </NavLink>
        </div>
        <AuthorizeView Roles="Administrator, User">

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customers">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Customer
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Order
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reviews">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Review
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="Administrator">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authors">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Author
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="books">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Book
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="genders">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gender
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="genres">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Genre
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="publishers">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Publisher
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="subscriptiontiers">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SubscriptionTier
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="SubscriptionInfos">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> SubscriptionInfos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}