@page "/bookgenres/create"
@using Microsoft.EntityFrameworkCore
@using FSD_Project_Bookstore_Group4.Domain
@inject IDbContextFactory<FSD_Project_Bookstore_Group4.Data.FSD_Project_Bookstore_Group4Context> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>BookGenre</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="BookGenre" OnValidSubmit="AddBookGenre" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="bookid" class="form-label">BookId:</label> 
                <InputNumber id="bookid" @bind-Value="BookGenre.BookId" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.BookId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genreid" class="form-label">GenreId:</label> 
                <InputNumber id="genreid" @bind-Value="BookGenre.GenreId" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.GenreId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="BookGenre.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdate" class="form-label">DateUpdate:</label> 
                <InputDate id="dateupdate" @bind-Value="BookGenre.DateUpdate" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.DateUpdate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="BookGenre.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="BookGenre.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => BookGenre.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/bookgenres">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private BookGenre BookGenre { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddBookGenre()
    {
        using var context = DbFactory.CreateDbContext();
        context.BookGenre.Add(BookGenre);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/bookgenres");
    }
}
